@use './../../styles/main' as *;

.contact {
  @extend %page-style;

  &__title {
    @extend %page-style-title;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include on-tablet {
      flex-direction: row;
      column-gap: 10px;
    }
  }
}

.contacts {
  display: flex;
  width: 100%;
  padding: 15px 0 0 0;

  &__links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 8px;
    width: 100%;
    margin-bottom: auto;
  }

  &__link {
    filter: drop-shadow(0 0 10px #{ $shadow });
    width: 150px;
    transition: scale 0.3s ease-in-out;

    &:hover {
      scale: 1.1;
    }
  }
}