@use './../../../../styles/main' as *;

.nav {
  display: none;
  font-family: "Emilys Candy", serif;

  @include on-tablet {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
  }



  &__wrapper {
    display: flex;
    justify-content: end;

    height: 100%;


    @include on-tablet {
      justify-content: center;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    column-gap: 1.2rem;

    @include on-desktop {
      column-gap: 2rem;

    }
  }

  &__item {
    display: flex;
    align-items: center;
    z-index: 99;
    background-color: $background;
  }

  &__icons {
    color: $shadow;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    text-wrap: nowrap;
    padding: 3px 12px;
    font-size: 13px;
    letter-spacing: 1.5px;
    height: 40px;
    border-radius: 1rem;
    box-shadow: 0 0 10px $shadow, inset 0 0 25px $shadow;
    transition: all 0.5s;

    &:hover,
    &.isActive {
      box-shadow: 0 0 10px $shadow-2, inset 0 0 5px $shadow-2;
      transform: scale(1.1);
    }

    @include on-desktop {
      padding: 0 20px;
    }

  }

  &__burger_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    transition: transform 0.3s;

    & img {
      height: 13px;
      width: 15px;
    }

    @include on-tablet {
      display: none;
    }

    &.isActive {
      display: flex;
      transform: rotate(180deg);
    }
  }
}