@use './../../styles/main' as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
  background-color: rgba($color: $background, $alpha: 0.5);
}